@font-face {
	font-family: "SRB2FILL";
	src: url("font/srb2fill.otf") format("opentype");
}

h1, h2, h3 {
	font-family: 'SRB2FILL',Arial,sans-serif;
	text-shadow: 2px 2px black;
}

p {
	font-family: 'SRB2FILL',Arial,sans-serif;
	text-shadow: 2px 2px black;
}

body {
	background-image: url("graphics/bg.gif");
	background-color: #373737;
}
